@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}

header {
  height: 25vh;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}
.logo {
  height: 150px;
}
img {
  width: 50%;
}
ul {
  display: flex;
  padding: 1rem;
  align-items: center;
}
li {
  list-style: none;
  margin: 1rem;
}
ul li a {
  text-decoration: none;
  color: #a3a3a3;
}
ul li a::after {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  background-color: #c4c4f7;
}
li a:hover::after {
  width: 100%;
}
main {
  display: flex;
  height: calc(100vh-25vh);
  justify-content: space-around;
  align-items: center;
}
.content-left {
  width: 30%;
  text-align: center;
  margin-top: -2rem;
}
div h1 {
  font-size: 54px;
  color: #133b4f;
  text-transform: uppercase;
}
div h2 {
  font-size: 25px;
  color: #fca70c;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
}
div p {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  line-height: 25px;
  margin: 30px 0;
}

button {
  padding: 15px 30px;
  background-color: #c4c4f7;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 15px;
}
